<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Password Generator</title>
</head>

<body>

  <section class="container">
    <h1>Password Generator</h1>
    
    <div class="senha-container">
        <div class="senha-gerada">Password</div>
        <button class="clip">Copy</button>
    </div>
    
    Number of characters <input type="number" id="qtd" value="15"><br>
    
    <section class="checkboxes">
        <p> A-Z </p> <input type="checkbox" id="chk-maiusculas" checked="true"><br>
        <p> a-z </p> <input type="checkbox" id="chk-minusculas" checked="true"><br>
        <p> 1-9 </p> <input type="checkbox" id="chk-numeros" checked="true"><br>
        <p> Simbols </p> <input type="checkbox" id="chk-simbolos" checked="true"><br>
    </section>

    <button class="gerar-senha">Generate</button>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>